.statistics-dashboard-container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f6f7fb; }
  .statistics-dashboard-container .statistics-container {
    display: block;
    width: 100%;
    padding: 15px 15px 0; }
    .statistics-dashboard-container .statistics-container .statistics-left {
      display: inline-block;
      vertical-align: top;
      width: 50%; }
      .statistics-dashboard-container .statistics-container .statistics-left .heading {
        display: block;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: #000000; }
    .statistics-dashboard-container .statistics-container .statistics-right {
      display: inline-block;
      vertical-align: top;
      width: 50%;
      text-align: right; }
      .statistics-dashboard-container .statistics-container .statistics-right .buttons {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        margin-bottom: 3px;
        position: relative; }
        .statistics-dashboard-container .statistics-container .statistics-right .buttons .lambda-btn {
          font-size: 12px;
          font-weight: 600;
          line-height: 32px;
          color: #153dce;
          padding-left: 20px;
          padding-right: 20px;
          margin-right: 15px;
          border-radius: 3px;
          border: 1px solid #153dce;
          background-color: transparent; }
        .statistics-dashboard-container .statistics-container .statistics-right .buttons .events-btn {
          font-size: 12px;
          font-weight: 600;
          line-height: 32px;
          color: #ffffff;
          padding-left: 20px;
          padding-right: 20px;
          border-radius: 3px;
          background-color: #153dce; }
  .statistics-dashboard-container .statistics-tabs {
    display: block;
    width: 100%;
    padding: 20px 15px 8px; }
    .statistics-dashboard-container .statistics-tabs .tab-head {
      display: block;
      width: 100%; }
      .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left {
        display: inline-block;
        width: 50%; }
        .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left ul {
          display: inline-block;
          width: auto;
          list-style: none;
          border-bottom: 1px solid #dddddd; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left ul li {
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 12px;
            font-size: 14px;
            line-height: 18px;
            color: #383874;
            font-weight: 600;
            margin-right: 5px;
            cursor: pointer;
            position: relative; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left ul li::after {
              background-color: #3247e5;
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 3px;
              content: "";
              display: none;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left ul li.active::after {
              display: block; }
        .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left .sliders-btn {
          background-color: #ffffff;
          border-radius: 5px;
          margin-left: 30px; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-left .sliders-btn i {
            transform: rotate(-90deg); }
      .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right {
        display: inline-block;
        vertical-align: top;
        text-align: right;
        width: 50%; }
        .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons {
          display: inline-block;
          vertical-align: top;
          margin-right: 15px;
          margin-top: 3px;
          position: relative;
          border-radius: 30px;
          background-color: #ffffff; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .btn {
            background-color: transparent;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 3px;
            margin-right: 3px;
            border-radius: 30px;
            color: #32323b;
            font-size: 13px;
            line-height: 26px;
            height: 26px;
            font-weight: 500; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .btn i {
              margin-left: 5px; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .btn:hover {
              color: #ffffff;
              background-color: #3247e5; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .btn.active {
              color: #ffffff;
              background-color: #3247e5; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .select-custom-date {
            display: none;
            position: absolute;
            right: 0;
            top: 36px;
            z-index: 10; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .select-custom-date.active {
              display: block; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .buttons .select-custom-date select {
              padding: 0 30px;
              width: auto; }
        .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main {
          float: right;
          width: auto;
          position: relative; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .analysls-btn {
            display: block;
            font-size: 13px;
            line-height: 32px;
            font-weight: 500;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0;
            padding-bottom: 0;
            color: #383874;
            border-radius: 3px;
            background-color: #dde1f8; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .analysls-btn i {
              padding-left: 15px;
              padding-right: 15px; }
          .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle {
            display: none;
            left: 0;
            top: 32px;
            width: 100%;
            padding: 2px;
            border-radius: 3px;
            position: absolute;
            z-index: 10;
            text-align: left;
            background-color: #ffffff;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1); }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle.active {
              display: block; }
            .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle ul {
              display: block;
              list-style: none;
              width: 100%; }
              .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle ul li {
                display: block;
                font-size: 12px;
                line-height: 26px;
                font-weight: 500;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 0;
                padding-bottom: 0;
                color: #383874;
                border-radius: 3px;
                cursor: pointer;
                margin-bottom: 1px; }
                .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle ul li:hover {
                  background-color: #dde1f8; }
                .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle ul li.active {
                  background-color: #dde1f8; }
                .statistics-dashboard-container .statistics-tabs .tab-head .tabs-right .analysls-toggle-main .toggle ul li i {
                  margin-right: 5px; }
    .statistics-dashboard-container .statistics-tabs .tab-contents {
      display: block;
      width: 100%;
      overflow: hidden;
      overflow-y: auto;
      margin-top: 20px; }
      .statistics-dashboard-container .statistics-tabs .tab-contents .content {
        display: none; }
        .statistics-dashboard-container .statistics-tabs .tab-contents .content.active {
          display: block; }
        .statistics-dashboard-container .statistics-tabs .tab-contents .content iframe {
          border: none; }

.statistics-toggle-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: transparent; }
  .statistics-toggle-bg.active {
    display: block; }

/*# sourceMappingURL=awslambda.dark.css.map */